.DS_Store

# Python env
.venv/

# pyc files
__pycache__/

# Python packages
.coverage
mlruns/
chroma_cache/

# javascript and typescript
node_modules/

# IDE
.vscode/

# environment variables
.env

#certificates
certs